@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    /* border: 1px solid red; */
  }

  @font-face {
    font-family: 'Supreme-Variable';
    src: url('src/assets/fonts/Supreme-Variable.woff2') format('woff');
    font-weight: swap;
    font-style: swap;
  }
}